<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <!--Header /NavBar-->
        <header>
            <nav class="navbar">
                <div class="nav-section nav-left">
                    <button class="nav-button menu-button">
                        <img src="/template/assets/menu-burger.png" alt="" style="width: 25px;">
                    </button>
                    <a href="#" class="nav-logo">
                        <img src="/template/assets/7.jpg" alt="Logo" class="logo-image" >
                        <h1 class="logo-text">Hanif</h1>
                    </a>
                </div>
                <div class="nav-section nav-center">
                    <form action="#" class="search-form">
                        <input type="search" placeholder="Search" required class="search-input">
                        <button class="nav-button search-button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="10" height="10"><g id="_01_align_center" data-name="01 align center"><path d="M24,22.586l-6.262-6.262a10.016,10.016,0,1,0-1.414,1.414L22.586,24ZM10,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,10,18Z"/></g></svg>
                        </button>
                    </form>
                    <button class="nav-button mic-button">
                        M
                    </button>
                </div>
                <div class="nav-section nav-right">
                    <button class="nav-button theme-button">
                        Li
                    </button>
                    <img src="/template/assets/2.jpg" alt="" class="user-image" >
                </div>
            </nav>
        </header>
        <main class="main-layout">
            <!--Sidebar-->
            <aside class="sidebar">
                <div class="link-container">
                    <div class="link-section">
                        <a href="#" class="link-item">
                            <img src="assets/icons8-home-50.png" alt="" > Home
                        </a>
                        <a href="#" class="link-item">
                            <img src="assets/icons8-home-50.png" alt="" > Shorts
                        </a>
                        <a href="#" class="link-item">
                            <img src="assets/icons8-home-50.png" alt="" > Subscription
                        </a>
                    </div>
                    <div class="section-separator"></div>
                        <div class="link-section">
                            <h4 class="section-title">You</h4>
                            <a href="#" class="link-item">
                                <img src="assets/icons8-home-50.png" alt="" > Your channel
                            </a>
                            <a href="#" class="link-item">
                                <img src="assets/icons8-home-50.png" alt="" > History
                            </a>
                            <a href="#" class="link-item">
                                <img src="assets/icons8-home-50.png" alt="" > Watch later
                            </a>
                        </div>
                    
                    <div class="section-separator"></div>
                        
                        <div class="link-section">
                            <h4 class="section-title">Explore</h4>
                            <a href="#" class="link-item">
                                <img src="assets/icons8-home-50.png" alt="" > Trending
                            </a>
                            <a href="#" class="link-item">
                                <img src="assets/icons8-home-50.png" alt="" > Music
                            </a>
                            <a href="#" class="link-item">
                                <img src="assets/icons8-home-50.png" alt="" > Gaming
                            </a>
                            <a href="#" class="link-item">
                                <img src="assets/icons8-home-50.png" alt="" > Sports
                            </a>
                        </div>
                    

                    <div class="section-separator"></div>
                        
                        <div class="link-section">
                            <h4 class="section-title">More from Youtube</h4>
                            <a href="#" class="link-item">
                                <img src="assets/icons8-home-50.png" alt="">Youtube Plus
                            </a>
                            <a href="#" class="link-item">
                                <img src="assets/icons8-home-50.png" alt="" >Youtube Music
                            </a>
                            <a href="#" class="link-item">
                                <img src="assets/icons8-home-50.png" alt=""> Youtube Kids
                            </a>
                            
                        </div>
                    

                    <div class="section-separator"></div>
                        
                        <div class="link-section">
                            <a href="#" class="link-item">
                                <img src="assets/icons8-home-50.png" alt="" > Settings
                            </a>
                            <a href="#" class="link-item">
                                <img src="assets/icons8-home-50.png" alt=""> Report
                            </a>
                            <a href="#" class="link-item">
                                <img src="assets/icons8-home-50.png" alt="" > Help
                            </a>
                            <a href="#" class="link-item">
                                <img src="assets/icons8-home-50.png" alt="" > Feedback
                            </a>
                            
                        </div>
                    
                </div>
            </aside>
            <div class="content-wrapper">
                <div class="category-list">
                    <button class="category-button active">All</button>
                    <button class="category-button">Website</button>
                    <button class="category-button">Music</button>
                    <button class="category-button">Node.js</button>
                    <button class="category-button">JavaScripts</button>
                    <button class="category-button">React.js</button>
                    <button class="category-button">TypeScripts</button>
                    <button class="category-button">Coding</button>
                    <button class="category-button">Next.js</button>
                    <button class="category-button">Data analysis</button>
                    <button class="category-button">Web design</button>
                    <button class="category-button">HTML</button>
                    <button class="category-button">Taiwind</button>
                    <button class="category-button">CSS</button>
                    <button class="category-button">Express.js</button>
                    <button class="category-button">Python</button>
                    <button class="category-button">MongoDB</button>
                </div>
                <!--Video List-->
                <div class="video-list">
                    <a href="#" class="video-card">
                        <div class="thumbnail-container">
                            <img src="assets/thumbnail/image (1).webp" alt="thumbnail" class="thumbnail">
                            <p class="duration">10:03</p>
                        </div>
                        <div class="video-info">
                            <img src="assets/2.jpg" alt="channel logo" class="icon" id="icon">
                            <div class="video-details">
                                <h2 class="title">Top 10 Easy To create JavaSCRIPTS Games For Beginners</h2>
                                <p class="channel-name">CodingM</p>
                                <p class="views">27k Views + 4 months ago</p>
                            </div>
                        </div>
                    </a>

                   
                    <a href="#" class="video-card">
                        <div class="thumbnail-container">
                            <img src="assets/thumbnail/image (2).webp" alt="thumbnail" class="thumbnail">
                            <p class="duration">10:03</p>
                        </div>
                        <div class="video-info">
                            <img src="assets/2.jpg" alt="channel logo" class="icon" id="icon">
                            <div class="video-details">
                                <h2 class="title">Top 10 Easy To create JavaSCRIPTS Games For Beginners pour les debut from scrathch</h2>
                                <p class="channel-name">CodingM</p>
                                <p class="views">27k Views + 4 months ago</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="video-card">
                        <div class="thumbnail-container">
                            <img src="assets/thumbnail/image (3).webp" alt="thumbnail" class="thumbnail">
                            <p class="duration">10:03</p>
                        </div>
                        <div class="video-info">
                            <img src="assets/2.jpg" alt="channel logo" class="icon" id="icon">
                            <div class="video-details">
                                <h2 class="title">Top 10 Easy To create JavaSCRIPTS Games For Beginners</h2>
                                <p class="channel-name">CodingM</p>
                                <p class="views">27k Views + 4 months ago</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="video-card">
                        <div class="thumbnail-container">
                            <img src="assets/thumbnail/image (4).webp" alt="thumbnail" class="thumbnail">
                            <p class="duration">10:03</p>
                        </div>
                        <div class="video-info">
                            <img src="assets/2.jpg" alt="channel logo" class="icon" id="icon">
                            <div class="video-details">
                                <h2 class="title">Top 10 Easy To create JavaSCRIPTS Games For Beginners</h2>
                                <p class="channel-name">CodingM</p>
                                <p class="views">27k Views + 4 months ago</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="video-card">
                        <div class="thumbnail-container">
                            <img src="assets/thumbnail/image (5).webp" alt="thumbnail" class="thumbnail">
                            <p class="duration">10:03</p>
                        </div>
                        <div class="video-info">
                            <img src="assets/2.jpg" alt="channel logo" class="icon" id="icon">
                            <div class="video-details">
                                <h2 class="title">Top 10 Easy To create JavaSCRIPTS Games For Beginners</h2>
                                <p class="channel-name">CodingM</p>
                                <p class="views">27k Views + 4 months ago</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="video-card">
                        <div class="thumbnail-container">
                            <img src="assets/thumbnail/image (6).webp" alt="thumbnail" class="thumbnail">
                            <p class="duration">10:03</p>
                        </div>
                        <div class="video-info">
                            <img src="assets/2.jpg" alt="channel logo" class="icon" id="icon">
                            <div class="video-details">
                                <h2 class="title">Top 10 Easy To create JavaSCRIPTS Games For Beginners</h2>
                                <p class="channel-name">CodingM</p>
                                <p class="views">27k Views + 4 months ago</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="video-card">
                        <div class="thumbnail-container">
                            <img src="assets/thumbnail/image.webp" alt="thumbnail" class="thumbnail">
                            <p class="duration">10:03</p>
                        </div>
                        <div class="video-info">
                            <img src="assets/2.jpg" alt="channel logo" class="icon" id="icon">
                            <div class="video-details">
                                <h2 class="title">Top 10 Easy To create JavaSCRIPTS Games For Beginners</h2>
                                <p class="channel-name">CodingM</p>
                                <p class="views">27k Views + 4 months ago</p>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="video-card">
                        <div class="thumbnail-container">
                            <img src="assets/thumbnail/image (7).webp" alt="thumbnail" class="thumbnail">
                            <p class="duration">10:03</p>
                        </div>
                        <div class="video-info">
                            <img src="assets/2.jpg" alt="channel logo" class="icon" id="icon">
                            <div class="video-details">
                                <h2 class="title">Top 10 Easy To create JavaSCRIPTS Games For Beginners</h2>
                                <p class="channel-name">CodingM</p>
                                <p class="views">27k Views + 4 months ago</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="video-card">
                        <div class="thumbnail-container">
                            <img src="assets/thumbnail/image (8).webp" alt="thumbnail" class="thumbnail">
                            <p class="duration">10:03</p>
                        </div>
                        <div class="video-info">
                            <img src="assets/2.jpg" alt="channel logo" class="icon" id="icon">
                            <div class="video-details">
                                <h2 class="title">Top 10 Easy To create JavaSCRIPTS Games For Beginners</h2>
                                <p class="channel-name">CodingM</p>
                                <p class="views">27k Views + 4 months ago</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </main>
    </div>
</body>
</html>